body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid burlywood;
  box-shadow: 0px 3px 30px 2px burlywood;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Bebas Neue;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.b1 {
  position: absolute;
  right: 20px;
  padding: 11px;
  border: 1px;
  border-radius: 88px;
  border-style: solid;
  font-size: 17px;
}

p {
  text-align: center;
  margin: 10px;
  font-family: Bebas Neue;
  color: #ddd;
  margin-top: 30px;

}

.stack {
  background-color: burlywood;
  text-decoration: line-through;
  color: black;
  margin: 0px;
  font-size: 30px;
}

.b2 {
  margin: 2px;
  padding: 11px;
  width: 150px;
  border: 1px;
  display: block;
  margin: auto;
  border: 5px solid burlywood;
  border-radius: 50px;
  border-style: solid;
  font-size: 17px;
  font-family: Bebas Neue;
  text-align: center;
}

.b2 img {
  height: 24px;
  margin-left: 10px;
}

.slide-img {
  height: 100px;
  padding: 80px;
}

.about {
  width: 50%;
}

.about-para {
  text-align: left;
  font-family: Nunito;
}

table td {
  table-layout: fixed;
  width: 50%;
}

.skill {
  border: 2px solid #ffa35c;
  display: inline-block;
  width: 100px;
  color: #fff;
  font-family: Bebas Neue;
  border-radius: 8px;
  text-align: center;
  background-color: burlywood;
  margin: 20px;
  padding-left: 20px;
}

.ab-text {
  font-size: 25px;
}

.project-img {
  width: 100%;
}

.projects {
  border: 2px solid burlywood;
  box-shadow: 10px 10px lightblue;
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 5px burlywood;
  margin-left: 150px;
  margin-right: 150px;
  padding: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: Bebas Neue ;
  color: #fff;
  margin-bottom: 5px;
}
#contacts{
  margin: 30px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 150px;
}

.contactme-btn {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}